<footer>
    <div class="f-info">
        <div class="f-info-socials">
 <a href="https://www.instagram.com/debajyoti_246/"><i class="fa-brands fa-square-instagram"></i></i></a>
 <i   class="fa-brands fa-square-facebook"></i>
<a href="https://in.linkedin.com/in/debajyoti-upadhayaya-222539299?trk=public_post_feed-actor-image"><i class="fa-brands fa-linkedin"></i>  </a>
        </div>
        <div>&copy; sympsy private limited |</div>
        <br> &nbsp;
<div class="f-info-links">
<a href="/privacy">privacy</a>
<a href="/terms">terms</a>
</div>
    </div>
</footer>