<style>
.btn-search {
  background-color: #cd6767;
  color: white;
  border: none;
  display: inline;
}

</style>
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listing"><i class="fas fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- <a class="nav-link active" aria-current="page" href="/">Home</a> -->
        <a class="nav-link" href="/listing">Explore More</a>
          <a class="nav-link" href="/listing/extra">Add new land</a>
        <!-- <a class="nav-link disabled" aria-disabled="true">extra lands</a> -->
      </div>
      <div class="navbar-nav ms-auto">
        <div class="navbar-nav ">
    <form class="d-flex mt-2" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
      <button class="btn btn-search" type="submit">Search</button>
    </form>
    </div>
        <% if(!curruser){%>
       <button class="btn "> <a class="nav-link "  href="/signup"><b>Signup</b></a></button>
        <button class="btn"><a class="nav-link" href="/login"><b>Login</b></a></button>
       <% }  %> 
       <% if(curruser){ %>
        <button class="btn "><a class="nav-link" href="/logout">logout</a></button>
        <% } %>
      </div>
    </div>
  </div>
</nav>